/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
    text-align: center;

}

.nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header.nav {
    background-image: url('equation.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.nav img {
    width: 100px;
    /* border-radius: 50%; */
}

.nav h1 {
    margin: 10px 0;
}

.nav-items {
    list-style-type: none;
    padding: 0;

}

.nav-item {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    position: relative;
}

.nav-item a {
    color: #fff;
}

.nav-btn a:active {
    position: relative;
    top: 2px;
}


.aboutme,
.projects,
#skills {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.welcome-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    font-size: 2em;
}



.project-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: grid;
    /* border: 2px black solid; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
    grid-auto-rows: auto;
}

.project-item {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.project-box {
    padding: 10px;
}

.project-name {
    font-weight: bold;
}

.project-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.project-btn {
    border: 1px black solid;
    background-color: #FFF;
}


.button {
    align-items: center;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: large;
    color: black;
}



#skills-icons {
    font-size: 36px;
}

footer {
    display: flex;
    flex-shrink: 0;
    border-top: 4px solid #333;
    font-size: 1em;
    padding: 2rem;
    position: sticky;
    top: 100%;
}

.sm-footer {
    width: 100%;
    flex-shrink: 0;
    text-align: center;

}

.socials a {
    display: inline;
}

.resume-info {
    display: flex;
    font-size: 1.2em;
    text-align: left;
    padding: 12px;
    margin: 12px;
}

.col {
    flex: 50%;
}

mark {
    background-color: #333;
    color: #fff;
}

.about-info {
    font-size: 1.5em;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}


/* styles.css */